<html>
    <head>
        <title>Mi proyecto</title>
    </head>
    <body>
        <h1>Brandon Rafael</h1>
        <h3>Universitario</h3>
        <p>
            Estudiante de Ingenieria en Sistemas con interes en desarrollo<br>
            de software, redes, hardware y Inteligencia Artificial.<br>
            Destaco por mi capacidad de autoaprendizaje, analisis critico<br>
            y resolucion de problemas.
        </p>
        <h2>Datos Personales:</h2>
        <p>
            <b>Nombre y Apellido:</b> Brandon Rafael Bozo Sejas<br>
            <b>CI:</b> 13226054<br>
            <b>Fecha de Nacimiento:</b> 31 de Octubre de 2005<br>
            <b>Direccion:</b> c/ Guillermo Añez No.2393<br>
            <b>Telefono:</b> 76477433 - 4026321<br>

        </p>
        <h2>Formacion Academica:</h2>
        <p>
            Primaria<br>
            Colegio Privado Isaac Attie<br>
            2011 - 2016<br><br>

            Diplo de Bachiller en Humanidades<br>
            Unidad Educativa Parroquial Santa Ana De Cala Cala Maryknoll<br>
            2017 - 2023<br><br>

            Ingenieria en Sistemas<br>
            Universidad Privada Franz Tamayo<br>
            4to Semestre<br>
        </p>
        <h2>Habilidades Blandas</h2>
        <p>
            Pensamiento Critico, evaluacion de opciones antes de tomar decisiones.<br><br>
            Constancia para investigar y alcanzar soluciones a temas complejos<br><br>
            Interes y disposicion para aprender temas de distintas areas.<br>
        </p>
        <h2>Proyectos:</h2>
        <h3>Sistema de Gestion NEKO</h3>
        <p>
            Sistema Web que ayuda en la Gestion y Administracion de un Hogar de Gatitos<br>
        </p>
        <h3>Juego de Plataformas</h3>
        <p>
            Juego experimental 2D en Unity con fines de aprendizaje
        </p>
    </body>
</html>